@using Microsoft.AspNet.Identity
@using SSM_V5.Controllers
@if (Request.IsAuthenticated)
{

        <ul class="nav navbar-nav navbar-right">
            <li>
                Hello Admin!
            </li>
        </ul>
    }
