<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/78a6fbe7-99a5-4d8a-b8eb-e92465908d0f/resourcegroups/SSMV520171102011716ResourceGroup/providers/Microsoft.Web/sites/SSMCapstone</ResourceId>
    <ResourceGroup>SSMV520171102011716ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ssmcapstone.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ssmcapstone.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SSMCapstone</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SSMCapstone</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SSM_Data3Entities1" Order="1" Enabled="False">
          <Destination Path="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;Application Name=EntityFramework" Name="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SSM_V5.Models.SSM_Data3Entities1, SSM_V5" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;Application Name=EntityFramework" Name="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SSM_V5.Models.ApplicationDbContext, SSM_V5" MigrationConfiguration="SSM_V5.Migrations.Configuration, SSM_V5" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_Data3Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_Model.csdl|res://*/Models.SSM_Model.ssdl|res://*/Models.SSM_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_Data3Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_Model.csdl|res://*/Models.SSM_Model.ssdl|res://*/Models.SSM_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_DataEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_Model.csdl|res://*/Models.SSM_Model.ssdl|res://*/Models.SSM_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_DataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSMDataModel.csdl|res://*/Models.SSMDataModel.ssdl|res://*/Models.SSMDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_Data3Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_ModelData.csdl|res://*/Models.SSM_ModelData.ssdl|res://*/Models.SSM_ModelData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_Data3Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_Model.csdl|res://*/Models.SSM_Model.ssdl|res://*/Models.SSM_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_DataEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_Model.csdl|res://*/Models.SSM_Model.ssdl|res://*/Models.SSM_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_DataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSMDataModel.csdl|res://*/Models.SSMDataModel.ssdl|res://*/Models.SSMDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_Data3Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_ModelData.csdl|res://*/Models.SSM_ModelData.ssdl|res://*/Models.SSM_ModelData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_Data3Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_Model.csdl|res://*/Models.SSM_Model.ssdl|res://*/Models.SSM_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_DataEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_Model.csdl|res://*/Models.SSM_Model.ssdl|res://*/Models.SSM_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_DataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSMDataModel.csdl|res://*/Models.SSMDataModel.ssdl|res://*/Models.SSMDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_Data3Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_ModelData.csdl|res://*/Models.SSM_ModelData.ssdl|res://*/Models.SSM_ModelData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_Data3Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_Model.csdl|res://*/Models.SSM_Model.ssdl|res://*/Models.SSM_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_DataEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_Model.csdl|res://*/Models.SSM_Model.ssdl|res://*/Models.SSM_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_DataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSMDataModel.csdl|res://*/Models.SSMDataModel.ssdl|res://*/Models.SSMDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_Data3Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_ModelData.csdl|res://*/Models.SSM_ModelData.ssdl|res://*/Models.SSM_ModelData.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SSM_Data3Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SSM_Model.csdl|res://*/Models.SSM_Model.ssdl|res://*/Models.SSM_Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ssmcapstonedbserver.database.windows.net;Initial Catalog=SSM_Data3;User ID=westbayraider;Password=Calvin111717;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>